# ======================
# Python
# ======================
__pycache__/
*.py[cod]

# ======================
# Virtual Environment
# ======================
.venv/

# ======================
# Environment Variables
# ======================
backend/.env
.env
.env.*

# ======================
# Flask
# ======================
instance/

# ======================
# Logs
# ======================
*.log

# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ======================
# Frontend (future)
# ======================
node_modules/
dist/
build/

# ======================
# ML artifacts (future)
# ======================
*.pkl
*.joblib
*.h5
backend/cleandata
backend/uploads
.postman/
postman/
